@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    z-index: -2;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    background-image: radial-gradient(#ffffff33 1px,#00091d 1px);
    background-size: 20px 20px;
  }
} */

@layer base {
  :root {
    z-index: -10;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
    background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
    background-size: 20px 20px;
  }
}